@charset "UTF-8";
@import './aptos.css';

:root {
    --bs-primary: #750014;
    --bs-secondary: #ffc002;
    
}

.btn {
  --bs-btn-hover-bg: #750014;
}

.btn-primary {
    --bs-btn-bg: #750014;
    --bs-btn-border-color: #750014;
    --bs-btn-hover-bg: #680011;
    --bs-btn-hover-border-color: #750014;
    --bs-btn-active-bg: #750014;
    --bs-btn-active-border-color: #750014;
}

.btn-outline-primary {
  --bs-btn-color: #750014;
  --bs-btn-border-color: #750014;
}

:root {
    --bs-font-sans-serif: Aptos, system-ui, -apple-system, 'Segoe UI', Roboto,
        'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --bs-font-monospace: 'Aptos Mono', SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;
    --bs-body-font-family: 'Aptos', Mulish, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}


body {
    margin: 0;
}

.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #750014, #ffc002) !important;
}


#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
}
#mainNav .logo {
    height: 2.7rem;
    width: fit-content;
    object-fit: contain;
}
#mainNav .navbar-brand {
    font-family: 'Aptos', 'Kanit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:active {
    color: #750014;
}
#mainNav .navbar-toggler {
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
    color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #6c757d;
}

.icon-feature {
    font-size: 4rem;
}

.features-device-mockup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.features-device-mockup .circle {
    position: absolute;
    left: 0;
    fill: url(#circleGradient);
    width: 70%;
    display: none;
}
.features-device-mockup .circle .gradient-start-color {
    stop-color: #750014;
}
.features-device-mockup .circle .gradient-end-color {
    stop-color: #ffc002;
}
.features-device-mockup .shape-1 {
    position: absolute;
    height: 1rem;
    width: 1rem;
    transform: rotate(10deg);
    fill: #750014;
    top: 15%;
    right: 10%;
}
.features-device-mockup .shape-2 {
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    fill: #750014;
    bottom: 15%;
    left: 10%;
}
.features-device-mockup .device-wrapper {
    max-width: 10rem;
}

@media (min-width: 576px) {
    .features-device-mockup .circle {
        width: 70%;
        display: block;
        left: auto;
    }
    .features-device-mockup .device-wrapper {
        max-width: 12.5rem;
    }
}
@media (min-width: 768px) {
    .features-device-mockup .circle {
        width: 60%;
        left: auto;
    }
    .features-device-mockup .device-wrapper {
        max-width: 15rem;
    }
}
@media (min-width: 992px) {
    .features-device-mockup .circle {
        width: 90%;
        left: -25%;
    }
    .features-device-mockup .shape-1 {
        top: 5%;
        right: -15%;
    }
    .features-device-mockup .shape-2 {
        bottom: 10%;
        left: -10%;
    }
    .features-device-mockup .device-wrapper {
        max-width: 15rem;
        margin-left: auto;
    }
}
@media (min-width: 1200px) {
    .features-device-mockup .circle {
        width: 75%;
        left: 0;
    }
    .features-device-mockup .shape-2 {
        bottom: 15%;
        left: 10%;
    }
    .features-device-mockup .device-wrapper {
        max-width: 15rem;
    }
}
@media (min-width: 1400px) {
    .features-device-mockup .circle {
        width: 80%;
        left: 0;
    }
    .features-device-mockup .device-wrapper {
        max-width: 17rem;
    }
}
footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
footer a:hover,
footer a:active,
footer a:focus {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: underline;
}

.masthead {
    background-color: #f8f9fa;
    padding-top: 9.5rem;
    padding-bottom: 5rem;
}
.masthead .masthead-device-mockup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.masthead .masthead-device-mockup .circle {
    position: absolute;
    fill: url(#circleGradient);
    width: 70%;
    display: none;
}
.masthead .masthead-device-mockup .circle .gradient-start-color {
    stop-color: #750014;
}
.masthead .masthead-device-mockup .circle .gradient-end-color {
    stop-color: #ffc002;
}
.masthead .masthead-device-mockup .shape-1 {
    position: absolute;
    height: 1rem;
    width: 1rem;
    transform: rotate(-10deg);
    fill: #750014;
    bottom: 15%;
    left: 10%;
}
.masthead .masthead-device-mockup .shape-2 {
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    fill: #750014;
    top: 15%;
    right: 10%;
}
.masthead .masthead-device-mockup .device-wrapper {
    max-width: 10rem;
}
.masthead .powered-by {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.masthead .powered-by a {
    text-decoration: none;
}
.masthead .powered-by a:hover {
    color: inherit;
}
.masthead .powered-by img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 4px;
    object-fit: contain;
}

@media (min-width: 576px) {
    .masthead .masthead-device-mockup .circle {
        width: 70%;
        display: block;
    }
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 12.5rem;
    }
}
@media (min-width: 768px) {
    .masthead .masthead-device-mockup .circle {
        width: 60%;
    }
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 15rem;
    }
}
@media (min-width: 992px) {
    .masthead .masthead-device-mockup .circle {
        width: 90%;
    }
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 15rem;
    }
}
@media (min-width: 1200px) {
    .masthead .masthead-device-mockup .circle {
        width: 75%;
    }
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 15rem;
    }
}
@media (min-width: 1400px) {
    .masthead .masthead-device-mockup .circle {
        width: 70%;
    }
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 17rem;
    }
}

/* PSC Section */
#psc {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.usa-seal {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: rotate(-12deg);
    top: 4rem;
    left: 7rem;
    opacity: 0.2;
}

/* Team Section */
.team-grid {
    display: grid;
    gap: 1rem; /* gap-4 */
    grid-template-columns: repeat(1, 1fr); /* grid-cols-1 */
    justify-items: center;
}

.team-desc {
    max-width: 640px;   
}

.member {
    background-color: #f3f4f6;
    border-radius: 0.25rem;
    width: 12rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    min-width: 14rem;
}

.member img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 9999px;
    margin-top: -1.25rem;
    margin-left: -1.25rem;
    border: 4px solid #f3f4f6;
}

.member-name {
    margin-top: 0.75rem;
    margin-bottom: 0;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.125rem;
}

.member-role {
    color: #6c757d;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 640px) {
    .team-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .team-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .team-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.ethpar-mascot {
    width: 180px;
    height: auto;
    object-fit: contain;
    max-width: 85%;
    opacity: 0.8;
}
