@charset "UTF-8";
@import './aptos.css';

:root {
    --bs-blue: #750014;
    --bs-indigo: #6610f2;
    --bs-purple: #ffc002;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #750014;
    --bs-secondary: #ffc002;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 41, 55, 240;
    --bs-secondary-rgb: 159, 26, 226;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: Aptos, system-ui, -apple-system, 'Segoe UI', Roboto,
        'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --bs-font-monospace: 'Aptos Mono', SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;
    --bs-gradient: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0)
    );
    --bs-body-font-family: 'Aptos', Mulish, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 500;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #750014;
    --bs-link-hover-color: #212cc0;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'Aptos Serif', 'Newsreader', -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    font-weight: 600;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
    h1,
    .h1 {
        font-size: 2.5rem;
    }
}

h2,
.h2 {
    font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
    h2,
    .h2 {
        font-size: 2rem;
    }
}

h3,
.h3 {
    font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
    h3,
    .h3 {
        font-size: 1.75rem;
    }
}

h4,
.h4 {
    font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
    h4,
    .h4 {
        font-size: 1.5rem;
    }
}

h5,
.h5 {
    font-size: 1.25rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ul {
    padding-left: 2rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul ul {
    margin-bottom: 0;
}

small,
.small {
    font-size: 0.875em;
}

a {
    color: var(--bs-link-color);
    text-decoration: underline;
}
a:hover {
    color: var(--bs-link-hover-color);
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

img,
svg {
    vertical-align: middle;
}

label {
    display: inline-block;
}

button {
    border-radius: 0;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

input,
button,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    text-transform: none;
}

button,
[type='button'],
[type='submit'] {
    -webkit-appearance: button;
}
button:not(:disabled),
[type='button']:not(:disabled),
[type='submit']:not(:disabled) {
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

textarea {
    resize: vertical;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
    padding: 0;
}

::-webkit-inner-spin-button {
    height: auto;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::file-selector-button {
    font: inherit;
    -webkit-appearance: button;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.display-1 {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: 300;
    line-height: 1.2;
}
@media (min-width: 1200px) {
    .display-1 {
        font-size: 5rem;
    }
}

.display-4 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
}
@media (min-width: 1200px) {
    .display-4 {
        font-size: 3.5rem;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container,
.container-fluid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}


.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #750014;
    --bs-btn-border-color: #750014;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #680011;
    --bs-btn-hover-border-color: #750014;
    --bs-btn-focus-shadow-rgb: 73, 85, 242;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #750014;
    --bs-btn-active-border-color: #750014;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #750014;
    --bs-btn-disabled-border-color: #750014;
}

html {
    scroll-padding-top: 4.5rem;
}

.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #750014, #ffc002) !important;
}

.font-alt {
    font-family: 'Kanit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

.text-gradient {
    background: -webkit-linear-gradient(#750014, #ffc002);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

aside,
section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.app-badge {
    height: 3rem;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
}
#mainNav .logo {
    height: 2.7rem;
    width: fit-content;
    object-fit: contain;
}
#mainNav .navbar-brand {
    font-family: 'Kanit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:active {
    color: #750014;
}
#mainNav .navbar-toggler {
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
    color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #6c757d;
}

.icon-feature {
    font-size: 4rem;
}

.features-device-mockup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.features-device-mockup .circle {
    position: absolute;
    left: 0;
    fill: url(#circleGradient);
    width: 70%;
    display: none;
}
.features-device-mockup .circle .gradient-start-color {
    stop-color: #750014;
}
.features-device-mockup .circle .gradient-end-color {
    stop-color: #ffc002;
}
.features-device-mockup .shape-1 {
    position: absolute;
    height: 1rem;
    width: 1rem;
    transform: rotate(10deg);
    fill: #750014;
    top: 15%;
    right: 10%;
}
.features-device-mockup .shape-2 {
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    fill: #750014;
    bottom: 15%;
    left: 10%;
}
.features-device-mockup .device-wrapper {
    max-width: 10rem;
}

@media (min-width: 576px) {
    .features-device-mockup .circle {
        width: 70%;
        display: block;
        left: auto;
    }
    .features-device-mockup .device-wrapper {
        max-width: 12.5rem;
    }
}
@media (min-width: 768px) {
    .features-device-mockup .circle {
        width: 60%;
        left: auto;
    }
    .features-device-mockup .device-wrapper {
        max-width: 15rem;
    }
}
@media (min-width: 992px) {
    .features-device-mockup .circle {
        width: 90%;
        left: -25%;
    }
    .features-device-mockup .shape-1 {
        top: 5%;
        right: -15%;
    }
    .features-device-mockup .shape-2 {
        bottom: 10%;
        left: -10%;
    }
    .features-device-mockup .device-wrapper {
        max-width: 15rem;
        margin-left: auto;
    }
}
@media (min-width: 1200px) {
    .features-device-mockup .circle {
        width: 75%;
        left: 0;
    }
    .features-device-mockup .shape-2 {
        bottom: 15%;
        left: 10%;
    }
    .features-device-mockup .device-wrapper {
        max-width: 15rem;
    }
}
@media (min-width: 1400px) {
    .features-device-mockup .circle {
        width: 80%;
        left: 0;
    }
    .features-device-mockup .device-wrapper {
        max-width: 17rem;
    }
}
footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
footer a:hover,
footer a:active,
footer a:focus {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: underline;
}

.masthead {
    background-color: #f8f9fa;
    padding-top: 9.5rem;
    padding-bottom: 3rem;
}
.masthead .masthead-device-mockup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.masthead .masthead-device-mockup .circle {
    position: absolute;
    fill: url(#circleGradient);
    width: 70%;
    display: none;
}
.masthead .masthead-device-mockup .circle .gradient-start-color {
    stop-color: #750014;
}
.masthead .masthead-device-mockup .circle .gradient-end-color {
    stop-color: #ffc002;
}
.masthead .masthead-device-mockup .shape-1 {
    position: absolute;
    height: 1rem;
    width: 1rem;
    transform: rotate(-10deg);
    fill: #750014;
    bottom: 15%;
    left: 10%;
}
.masthead .masthead-device-mockup .shape-2 {
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    fill: #750014;
    top: 15%;
    right: 10%;
}
.masthead .masthead-device-mockup .device-wrapper {
    max-width: 10rem;
}
.masthead .powered-by {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 2rem;
}
.masthead .powered-by a {
    text-decoration: none;
}
.masthead .powered-by a:hover {
    color: inherit;
}
.masthead .powered-by img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 4px;
    object-fit: contain;
}

@media (min-width: 576px) {
    .masthead .masthead-device-mockup .circle {
        width: 70%;
        display: block;
    }
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 12.5rem;
    }
}
@media (min-width: 768px) {
    .masthead .masthead-device-mockup .circle {
        width: 60%;
    }
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 15rem;
    }
}
@media (min-width: 992px) {
    .masthead .masthead-device-mockup .circle {
        width: 90%;
    }
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 15rem;
    }
}
@media (min-width: 1200px) {
    .masthead .masthead-device-mockup .circle {
        width: 75%;
    }
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 15rem;
    }
}
@media (min-width: 1400px) {
    .masthead .masthead-device-mockup .circle {
        width: 70%;
    }
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 17rem;
    }
}

/* PSC Section */
.usa-seal {
    position: absolute;
    width: 24rem;
    height: 24rem;
    transform: rotate(-12deg);
    top: 4rem;
    left: 7rem;
    opacity: 0.2;
}

/* Team Section */
.team-grid {
    display: grid;
    gap: 1rem; /* gap-4 */
    grid-template-columns: repeat(1, 1fr); /* grid-cols-1 */
    justify-items: center;
}

.team-desc {
    max-width: 640px;   
}

.member {
    background-color: #f3f4f6;
    border-radius: 0.25rem;
    width: 12rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    min-width: 14rem;
}

.member img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 9999px;
    margin-top: -1.25rem;
    margin-left: -1.25rem;
    border: 4px solid #f3f4f6;
}

.member-name {
    margin-top: 0.75rem;
    margin-bottom: 0;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.125rem;
}

.member-role {
    color: #6c757d;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 640px) {
    .team-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .team-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .team-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Ethpar Section */
.ethpar-background {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.ethpar-mascot {
    width: 300px;
    height: auto;
    object-fit: contain;
    max-width: 85%;
    opacity: 0.8;
}